body
{
    background-image:url("images/bg.jpg");
background-position:center;
    
}

IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

h1
{
     text-align: center;
    }
    

